<!DOCTYPE html>
<html ng-app="User">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Angular Tables</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
	<script type="text/javascript" src="user.js"></script>

</head>
<body>
	<h1>Hello, Tables</h1> 
	<div ng-controller="UserController">
		<form name="usersForm" ng-submit="addUser()">
			<input type="text" placeholder="Enter First Name" ng-model="user.fname"> <br>
			<input type="text" placeholder="Enter Last Name" ng-model="user.lname"> <br>
			<input type="email" placeholder="Enter Email" ng-model="user.email"> <br>
			<input type="number" placeholder="Enter Number of Puppies" ng-model="user.numberPuppies"> <br>
			<button>Add User</button>
		</form>
		<table>
		<form name="usersForm">
			<input type="text" placeholder="Search" ng-model="searchUser" class="search"> <br>
		</form>
			<thead>
				<tr>
					<th> 
						<a ng-click="sortType= 'fname'; sortReverse = !sortReverse" class="bold-{{sortType == 'fname'}}"> 
							First Name
							<span ng-show="sortType == 'fname' && sortReverse">&#9660;</span>
							<span ng-show="sortType == 'fname' && !sortReverse">&#9650;</span>
						</a>
					</th>
					<th> 
						<a ng-click="sortType= 'lname'; sortReverse = !sortReverse" class="bold-{{sortType == 'lname'}}">
						 Last Name
							<span ng-show="sortType == 'lname' && sortReverse">&#9660;</span>
							<span ng-show="sortType == 'lname' && !sortReverse">&#9650;</span>								 
						</a>
					</th>
					<th>
						<a ng-click="sortType= 'email'; sortReverse = !sortReverse" class="bold-{{sortType == 'email'}}"> 
							Email
							<span ng-show="sortType == 'email' && sortReverse">&#9660;</span>
							<span ng-show="sortType == 'email' && !sortReverse">&#9650;</span>									
						</a>
					</th>
					<th>
						<a ng-click="sortType= 'numberPuppies'; sortReverse = !sortReverse" class="bold-{{sortType == 'numberPuppies'}}"> 
							Number of Puppies 
							<span ng-show="sortType == 'numberPuppies' && sortReverse">&#9660;</span>
							<span ng-show="sortType == 'numberPuppies' && !sortReverse">&#9650;</span>							
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users | orderBy: sortType: sortReverse | filter: searchUser">
					<td> {{ user.fname }} 				</td>
					<td> {{ user.lname }} 				</td>
					<td> {{ user.email }} 				</td>
					<td> {{ user.numberPuppies }} </td>
				</tr>
			</tbody>

		</table>
	</div>
</body>
</html>